<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/106dacd3a9.js" crossorigin="anonymous"></script>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

     <!-- css -->
     <link rel="stylesheet" href="static/styles.css">
     
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <style>
         h2{
            font-family:  Arial, sans-serif;
            color: green;
        }

        .mt3{
            align-content:end;
        }
        .bg_color{
            background-color: green;
        }
        .title{
            text-decoration: underline;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
        .card{
            width: 1000px;
            
        }
        .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.fa {
           padding: 10px;
           font-size: 15px;
            width: 30px;
            height: 30px;
           text-align: center;
          text-decoration: none;
          margin: 4px 1px;
          border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
    </style>
</head>
<body>
    <header class="text-bg-light p-3">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1" ><h2 class="title">Fake News Detection</h2></span>
            <div class="font">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/input"><button type="button" class="btn btn-outline-dark">Home</button></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog"><button type="button" class="btn btn-outline-dark">Blog</button></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register"><button type="button" class="btn btn-outline-dark">SignUp</button></a>
                </li>
                
              </ul>
            </div>
            </div>


          </nav>
    </header>
    
    <div class="bg_color">
        <br>
    <br>
       
        <div class="card">
            <h5 class="card-header">IEEE Xplore</h5>
            <div class="card-body">
              <h5 class="card-title">FakeNews Detection using Machine Learning</h5>
              <p class="card-text">This work helps us to detect the accuracy of the fake news using different classification techniques. <br> Fake news is significantly affecting our social life, in fact in every field mainly in politics....</p>
              <a href="https://ieeexplore.ieee.org/document/9358890" class="btn btn-primary">View the page</a>
            </div>
          </div>
          <br>

          <div class="card">
            <h5 class="card-header">IOPscience</h5>
            <div class="card-body">
              <h5 class="card-title">Fake News Detection Using Machine Learning Approaches</h5>
              <p class="card-text">The fake news on social media and various other media is wide spreading and is a matter of serious concern due to its ability to cause a lot of social and national damage with destructive....</p>
              <a href="https://iopscience.iop.org/article/10.1088/1757-899X/1099/1/012040" class="btn btn-primary">View the page</a>
            </div>
          </div>
          <br>

          <div class="card">
            <h5 class="card-header">MDPI</h5>
            <div class="card-body">
              <h5 class="card-title">A Review of Current Fake News Detection Research and Practice</h5>
              <p class="card-text">
                With the popularization of digital technology, the problem of information pollution caused by fake news has become more common. Malicious dissemination of harmful, offensive or illegal content....</p>
              <a href="https://www.mdpi.com/2079-8954/11/9/458" class="btn btn-primary">View the page</a>
            </div>
          </div>
          <br>


    </div>

    <footer class="footer text-light bg-dark py-4 text-center">
        <div class="container"> 
            <div class="footer-text">

                <div class="container text-center">
                    <div class="row">
                      <div class="col">
                        <h4>
                            Developed by
                        </h4>
                        <ul class="list-unstyled">
                            <li>M.Ganesh</li>
                            <li>M.Renitha</li>
                            <li>U.Sai Durga</li>
                            <li>G.Omsai</li>
                            <li>V.Theerdha</li>
        
                        </ul>

                      </div>
                      <div class="col">
                        <h4>
                            Contact Us
                        </h4>
                        <ul class="list-unstyled">
                            <li>xxxxxxx898</li>
                            <li>xxxxx@gmail.com</li>
                            
        
                        </ul>
                      </div>
                      <div class="col">
                        <h4>Social Media</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                            
        
                        </ul>  
                      </div>
                    </div>
                  </div>









                <!-- <h2 class="font-weight-bold p-2"></h2>
                <h3 class="font-weight-bold mb-1">Developed By</h3> -->
                <!-- <ul class="list-unstyled">
                    <li>Ganesh</li>
                    <li>Renitha</li>
                    <li>Trinadh</li>
                    <li>Durga</li>
                    <li>omsai</li>

                </ul> -->
            </div>
        </div>
    </footer>
    
</body>
</html>